
  <header>
    <h2 class="logo">Versed.</h2>
    <nav class="navigation">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="#">Contact</a>
        <a href="/auth/google"><button class="btnLogin-popup">Login</button></a>
    </nav>
</header>
