<div class="container-fluid">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4">
      <a style="color: rgb(255, 255, 255);" href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-decoration-none fw-bold fs-2">
        Versed.
      </a>
  
      <form style="width: 40%; border-radius: 25px;" action="" class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0" role="search" method="POST" action="/dashboard/search">
        <input style="border-radius: 25px;" id="search-bar" placeholder="Search your lyrics.." type="search" name="searchTerm" class="form-control border-primary" >
      </form>

  
      <div class="col-md-3 text-end">
        <a href="/logout" type="button" class="btn btn-primary">Logout</a>
      </div>
    </header>
  </div>
  <script>
    const searchBar = document.getElementById('search-bar');
    const placeholders = [
        "Search songs...",
        "Search album names...",
        "Search lyrics...",
        "Search tags...",
        "Search artists..."
    ];

    let index = 0;

    setInterval(() => {
        searchBar.placeholder = placeholders[index];
        index = (index + 1) % placeholders.length;
    }, 1200); 
  </script>